.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 100%;
  max-width: 400px;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
